@import './base/variables';
@import './base/zeroing';
@import './base/mixins';


@import './blocks/header';
@import './blocks/main';
@import './blocks/buttons';
@import './blocks/advantages';
@import './blocks/title';
@import './blocks/work';

._container{
    max-width: $maxWidth;
    padding: 0 15px;
    margin: 0 auto;
}


.ibg{

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    .main-screen__img{
    
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: none;
    }
}

// .wrapper{

// }



@import './base/media';